<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/user page.css">
    <title>Hello, world!</title>
  </head>
  <body style="  background-size: cover;  background-image: url('https://www.atypicalfinance.com/wp-content/uploads/2018/10/Homepage-background.jpg');">



    <head>

      <nav class="navbar  bg-info " style="background-color: #e3f2fd; border-radius: 5px;box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
        <a class="navbar-brand text-white " style="font-size:x-large; font-weight: 600" > Gadgetbay</a>
        <div class="dropdown show">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

            <% if(userSession){ %>

               Welcome <%= userSession.email %>

           <% } else{ %>

             Account

            <% } %>
          

          </a>
        
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">


            <% if(userSession){ %>
              <a class="dropdown-item" href="/logout" me >Logout</a>
           <% } else{ %>
            <a class="dropdown-item" href="/login" me >Login</a>
            <% } %>
           


          
            
          </div>
        </div>
      </nav>

    </head>
    <h1 style="    font-size: 58px;
    left: 491px;
    position: fixed;
    top: 299px;
    color: white;" >Welcome user</h1>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>