<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">


    <h1 style="color: aliceblue; padding-left: 36%; "><span></span> Signup</h1>


    <!-- Sign up FORM -->
    
    <form style="color: aliceblue; " action="/signup" method="post">
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="email" required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="pass" required>
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Signup</button>
    </form>

    <hr>

    <p style="color: aliceblue;" >Already have an account? <a style="color: rgb(160, 200, 235);" href="/login">Login</a></p>
    <p style="color: aliceblue;"  >Or go <a style="color: rgb(160, 200, 235);"  href="/">home</a>.</p>

  

</div>
</div>
</body>
</html>